$color-principal: #ccc;
$color-letra: green;
$color-parrafo: red;

$titulos: (
    h1: 4rem,
    h2: 3rem,
    h3: 2rem,
    h4: 1rem
);
$h1: map-get($map: $titulos, $key: h1);
$h2: map-get($map: $titulos, $key: h2);
h1{
    color: $color-letra;
    font-size: $h1;

}
body{
    background: $color-principal;
}
@mixin box-especial ($fondo: white) {
    background-color: $fondo;
    border: 4px solid black;
    box-shadow: 0px 0px 2px red;
    color: $color-parrafo;
    margin: 20px;
}

.box{
    @include box-especial();
    h2{
        color: $color-letra ;
        font-family: 'Times New Roman', Times, serif;
        font-size: $h2;
    }
    p{ 
        font-weight: lighter;
        color: blue;
    }
}
.box2{
    @include box-especial($fondo: grey);
    h2{
        color: $color-letra;
        font-size: $h2;
    }
}

.box, .box2{
    width: 400px + 100px -50px;
}

.box3{
    background-color: gold;
    width: 700px;
    margin: 30px;
    border: 10px solid rebeccapurple;
    h3{
        color: rebeccapurple;
        font-size: 16px;
    }
    p{
        color: black;
    }
}
.box4{
    @extend .box3;
    text-align: center;
    
}
