h1 {
  color: green;
  font-size: 4rem; }

body {
  background: #ccc; }

.box {
  background-color: white;
  border: 4px solid black;
  box-shadow: 0px 0px 2px red;
  color: red;
  margin: 20px; }
  .box h2 {
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem; }
  .box p {
    font-weight: lighter;
    color: blue; }

.box2 {
  background-color: grey;
  border: 4px solid black;
  box-shadow: 0px 0px 2px red;
  color: red;
  margin: 20px; }
  .box2 h2 {
    color: green;
    font-size: 3rem; }

.box, .box2 {
  width: 450px; }

.box3, .box4 {
  background-color: gold;
  width: 700px;
  margin: 30px;
  border: 10px solid rebeccapurple; }
  .box3 h3, .box4 h3 {
    color: rebeccapurple;
    font-size: 16px; }
  .box3 p, .box4 p {
    color: black; }

.box4 {
  text-align: center; }
